extends layout

block content
  h1= title
  p Welcome to #{title}
    each message in messages
      ul
        li Name: #{message.user}
        li Message: #{message.text}
        li Date: #{message.added}


  
    
